body{
    width: auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

header {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
}

nav {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
}

main {
    width: 80%;
    float:left;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
}

aside {
    width: 17%;
    float: right;
    margin-top: 10px;
    background-color: lightgray;
}

footer {
    float: left;
    width:100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: lightgray;
}

section {
    padding: 5px;
    margin: 5px;
    width: 80%;
    margin: 0 auto;
    background-color: orangered;
}

article {
    padding: 5px;
    width: 80%;
    margin: 10px auto;
    background-color: white;
}


